$chat-watson: rgba(125, 168, 232, 0.95);
$chat-user: rgba(255, 255, 102, 0.95);
$msg-width: 48%;
$msg-padding: 10px;
$anim-dur: .25s;
$border-radius: 8px;
$watson-border-radius: 0px 8px 8px 8px;
$user-border-radius: 8px 0px 8px 8px;
.chat-box{
  height: 64vh;
  width: auto;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.50) !important;
}
.chat-container{
  max-width: 90vw;
  margin: 0 auto;
}
.chat-item{
  background-color: rgba(0,0,0,0.00) !important;
  animation: itemanim;
  animation-duration:$anim-dur
}
.semi-transparent-item{
   background-color: rgba(0,0,0,0.50) !important;
}
  @keyframes rightanim {
    0%   {background: rgba(255, 255, 153, 0.01); width: 0px;font-size:0;}
    100% {background: $chat-user; width: $msg-width;border-radius: $border-radius;}
}
  @keyframes leftanim {
    0%   {background: rgba(0, 102, 204, 0.01); width: 100px;font-size:0;}
    100% {background: $chat-watson; width: $msg-width;border-radius: $border-radius;}
}
  @keyframes chatanim {
    0%   {width: 100px;font-size:0;}
    100% { width: $msg-width;}
}
  @keyframes itemanim {
    0%   {padding-bottom:65px}
    100% {padding-bottom:0px}
}
  @keyframes example {
    from {background-color: #387ef5;}
    to {background-color: yellow;}
  }


.left{
  background: transparent;
  height: auto;
  width: $msg-width;
  text-align: left;
  overflow-y: hidden;
  box-shadow: none;
  animation: leftanim;
  animation-duration: $anim-dur;
}
.right{
  background: transparent;
  height: auto;
  width: $msg-width;
  box-shadow: none;
  text-align: right;
  animation: rightanim;
  animation-duration: $anim-dur;
}
.left-text{
  background: $chat-watson;
  padding: $msg-padding;
  border: 1px solid $chat-watson;
  border-radius: $watson-border-radius;
  word-wrap: break-word;
}
.right-text{
  background: $chat-user;
  margin-right: 0 !important;
  padding: $msg-padding;
  border: 1px solid $chat-user;
  border-radius: $user-border-radius;
  word-wrap: break-word;
}
.left-arrow{
  width: 0; 
  height: 0; 
  float: left;
  margin-top: 9px;
  border-top: 0px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 8px solid $chat-watson;
}
.right-arrow{
  width: 0; 
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 8px solid $chat-user;
}
.chatlogo{
  background: white;
  font-size: 5vw;
  vertical-align: text-top;
  animation: chatanim;
  animation-duration: $anim-dur
}

.chat-input{
  color: white;
}
